## Compiled Java files
*.class

# Build folders
bin/
build/
out/

# IDE files
.classpath
.project
.settings/

# IntelliJ files
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
